.body-modal-fix {
  overflow: hidden;
}

.pure-modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: rgba(0, 0, 0, .4);
}

.pure-modal-backdrop .pure-modal {
  top: 10vh;
  bottom: 10vh;
  width: 300px;
  max-width: 100%;
  margin: 0 auto;
  right: 0;
  position: fixed;
  left: 0;
  z-index: 1041;
  box-sizing: border-box;
  transition: all .2s ease-in-out;
}

.pure-modal-backdrop.scrollable {
  overflow-y: auto;
}

.pure-modal.auto-height {
  position: static;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.pure-modal.auto-height > * {
  max-height: none;
}

.pure-modal-backdrop .pure-modal > * {
  display: flex;
  max-height: 100%;
  flex-direction: column;
  justify-content: center;

}

.pure-modal > * > * {
  flex: 0 0 auto;
}

.pure-modal > * > .scrollable {
  max-height: 80vh;
  overflow-x: hidden;
  overflow-scrolling: touch;
  transform: translate3d(0, 0, 0);
  flex: 0 1 auto;
}


@media (max-width: 768px) {
  .pure-modal-backdrop .pure-modal {
    top: 5%;
    bottom: 5%;
  }

  .pure-modal-backdrop .pure-modal > * {
    max-height: 90vh;
  }

  .pure-modal.auto-height > * {
    max-height: none;
  }
}

@media (max-width: 480px) {
  .pure-modal-backdrop .pure-modal {
    top: 0;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
  }

  .pure-modal-backdrop .pure-modal > * {
    height: 100vh;
    max-height: 100vh;
  }

  .pure-modal.auto-height > * {
    height: auto;
    max-height: none;
  }
}


.pure-modal .panel-body {
  background-color: #fff;
}

.pure-modal .panel-heading {
  background: rgb(240, 240, 240);
}

.pure-modal .panel-heading {
  position: relative;
}

.pure-modal .panel-title {
  padding: 12px 45px 12px 15px;
  margin: 0;
}

.pure-modal .panel-heading .close {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1;
  background: rgba(240, 240, 240, 0.8);
  width: 30px;
  color: rgb(140, 140, 140);
  transition: color ease-in-out .1s;
  height: 30px;
  border-radius: 15px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}

.pure-modal .panel-heading .close:hover {
  color: #000;
}

.pure-modal .panel-body {
  padding: 15px;
}

.pure-modal .panel-footer {
  padding: 12px 45px 12px 15px;
  background: rgb(240, 240, 240);
}