.body-modal-fix {
  overflow: hidden;
}

.pure-modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: rgba(0, 0, 0, .4);
}

.pure-modal-backdrop .pure-modal {
  top: 10vh;
  width: 300px;
  max-width: 100%;
  margin: 0 auto;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1041;
  box-sizing: border-box;
  -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}

.pure-modal-backdrop .pure-modal > * {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-height: 80vh;

}

.pure-modal-backdrop .pure-modal > * > * {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.pure-modal > * > .scrollable {
  overflow-x: hidden;
  overflow-scrolling: touch;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}


@media (max-width: 768px) {
  .pure-modal-backdrop .pure-modal {
    top: 5%;
  }
  .pure-modal-backdrop .pure-modal > * {
    max-height: 90vh;
  }
}

@media (max-width: 480px) {
  .pure-modal-backdrop .pure-modal {
    top: 0;
    width: 100%;
  }
  .pure-modal-backdrop .pure-modal > * {
    height: 100vh;
    max-height: 100vh;
  }
}


.panel {
  background-color: white;
}

.panel-heading {
  background: rgb(240, 240, 240);
}

.panel-heading {
  position: relative;
}

.panel-title {
  padding: 12px 45px 12px 15px;
  margin: 0;
}

.panel-heading .close {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1;
  background: rgba(240, 240, 240, 0.8);
  width: 30px;
  color: rgb(140, 140, 140);
  transition: color ease-in-out .1s;
  height: 30px;
  border-radius: 15px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}

.panel-heading .close:hover {
  color: #000;
}

.panel-body {
  padding: 15px;
}