.body-modal-fix {
  overflow: hidden;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: rgba(0, 0, 0, .4);
}

.modal-backdrop .smart-modal {
  top: 10vh;
  width: 300px;
  max-width: 100%;
  margin: 0 auto;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1041;
  box-sizing: border-box;
  -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}

.modal-backdrop .smart-modal > * {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-height: 80vh;

}
.modal-backdrop .smart-modal > * > * {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.smart-modal > * > .scrollable {
  overflow-x: hidden;
  overflow-scrolling: touch;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}


@media (max-width: 768px) {
  .modal-backdrop .smart-modal {
    top: 5%;
  }
  .modal-backdrop .smart-modal > * {
    max-height: 90vh;
  }
}

@media (max-width: 480px) {
  .modal-backdrop .smart-modal {
    top: 0;
    width: 100%;
  }
  .modal-backdrop .smart-modal > * {
    height: 100vh;
    max-height: 100vh;
  }
}